# 公開しないプラグイン
plugins/*
!plugins/Base
!plugins/Battle
!plugins/Command
!plugins/Enemy
!plugins/Equip
!plugins/Event
!plugins/Item
!plugins/Level
!plugins/Map
!plugins/Max
!plugins/Menu
!plugins/Name
!plugins/NewGame
!plugins/Option
!plugins/Save
!plugins/Shop
!plugins/Skill
!plugins/System
!plugins/Title
!plugins/Window
plugins/Base/PersonalItem.js
plugins/Command/TempVariables.js
plugins/Event/Info.js
plugins/Level/LevelUpSound.js
plugins/Map/Minecraft.js
plugins/Max/Max.js
plugins/Max/LevelCap.js
plugins/Name/NameId.js
plugins/Name/NameItem.js
plugins/Name/NameSkill.js
plugins/Name/NameSwitch.js
plugins/Save/StartDelete.js
plugins/Skill/SkillLevel.js
plugins/Skill/RepeatAnimation.js
plugins/System/DisableRandomEncount.js
plugins/Test/MenuWindow.js
plugins/Test/SimpleWindow.js
plugins/Test/Test.js
plugins/Test/TestWindow.js
plugins/Test/テンプレート.js
plugins/Window/Story.js
